@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

.bottom-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}

.styled-dropdown {
  appearance: none;
  -webkit-appearance: none;
  background-color: #333;
  color: white;
  padding: 12px 25px;
  border-radius: 8px;
  border: 2px solid #555;
  cursor: pointer;
  font-family: Righteous, cursive;
  font-size: 1rem;
  transition: background 0.3s;
}

.styled-dropdown:hover {
  background-color: #555;
}


.body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Pacifico, cursive;
}

.container {
    background-image:
    linear-gradient(90deg, #0ae7ff, rgb(0 252 17 / 70%));
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro-container {
    color: #fff;
    text-align: center;
    font-size: 50px;
    padding-bottom: 75px;
}

.piano-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.piano-keys-list{
    list-style: none;
    display: flex;
}

.piano-keys{
    background-color: #f2f7f4;
    width: 4.5rem;
    cursor: pointer;
    position: relative;
    height: 19rem;
    border-radius: 10px;
    border: 1px solid #000;
}

.piano-black-keys{
  background-color: #000;
  height: 12rem;
  width: 2.5rem;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  z-index: 2;
  cursor: pointer;
  position: relative;
}